
@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/*------------------------------------------------------------------------------------- Estilização da scroll */
::-webkit-scrollbar-track {
    background-color: #fad4d7;
}
::-webkit-scrollbar {
    width: 8px;
    background: #ce7885;
}
::-webkit-scrollbar-thumb {
    background: #a3606a;
}
/*------------------------------------------------------------------------------------- Estilização da scroll */

/*------------------------------------------------------------------------------------- Background, fonte e resetbody */
body {
    margin: 0px;
    font-size: 16px;
    background: linear-gradient(white, rgba(255, 0, 170, 0.137));
    font-family: 'Lato';
    display:flex;
    flex-direction: column;
}
/*------------------------------------------------------------------------------------- Background, fonte e resetbody */

/*------------------------------------------------------------------------------------- Parte de cima do site  */
.cabeçalho {
    background: #ce7885;
    border: 0px;
}

.titulo {
   background: linear-gradient(#ff9dac, #ce7885);
   color: white;
   padding: 20px;
   padding-bottom: 2px;
   padding-top: 2px;
   margin: 0px;
   font-size: 5rem;
   font-family:'Supermercado One';
   font-weight: lighter;
   display: flex;
   justify-content: center;
}



.subtopicos {
    border-top: 1px solid #ce7885;
    border-bottom: 1px solid #ce7885;
    border-left: 0px;
    border-right: 0px;
    color: white;

    width: 100px;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 2px;

    transition-timing-function: ease;
    transition-duration: 0.5s;
    background-color: #ce7885;

    cursor: pointer;
}

.subtopicos:focus {
    outline: thin dotted;
    outline: 0px;
}

.subtopicos_total {
    display: flex;
    justify-content: center;
}

.subtopicos:hover {
    font-size: 15px;
    border-color: white;
}
/*------------------------------------------------------------------------------------- Parte de cima do site  */

/*------------------------------------------------------------------------------------- Barra da esquerda */
.filtrar_preço:focus {
    outline: thin dotted;
    outline: 0px;
}

.filtragem:focus {
    outline: thin dotted;
    outline: 0px;
}

.filtrar_preço {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.money {
    opacity: 50%;
    cursor: pointer;
}

.min_bloc {
    transform: translate(-5%, 0%)
}

.min:focus {
    outline: thin dotted;
    outline: 0px;
}

.max:focus {
    outline: thin dotted;
    outline: 0px;
}

.barra_superior {
    background-color: #c8a2c8;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 33px;
}

.barra_esquerda {
    min-width: 150px;
    height: 1000px;
    background: linear-gradient(#ffc2c6, #fa65b7);
    color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 10px;
}

.barra_esquerda section h4 {
    display: flex;
    justify-content: center;
}

.min, .max {
    margin: 5px;
    color: rgba(0, 0, 0, 0.5);
    width: 30px;
    background: rgba(0, 0, 0, 0);
    border: 0px;
    border-bottom: 1px solid white;
}
.frete {
    width: 80px;
    color: rgba(0, 0, 0, 0.527);
    margin-left: 5px;
    outline: 0px;
    background: rgba(255, 255, 255, 0);
    border: 0px;
    border-bottom: 1px solid white;
    font-size: 15px;

    transition-timing-function: linear;
    transition-duration: 0.1s;
}

.img_frete {
    width: 35px;
    opacity: 50%;

    cursor: pointer;
}

.dados_frete {
    display: flex;
}

.calcular_frete {
    margin-top: 0px;
    margin-bottom: 10px;
}
/*------------------------------------------------------------------------------------- Barra da esquerda */

/*------------------------------------------------------------------------------------- Barra de pesquisa  */
.pesquisa {
    width: 500px;
    height: 25px;
    color: rgba(0, 0, 0, 0.548);
    background: #c8a2c8;
    margin-top: 2px;
    margin-bottom: 2px;
    border-bottom: 1px solid white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-align: left;

    transition-timing-function: inherit;
    transition-duration: 0.5s;
}

.pesquisa:hover {
    width: 520px;
}

.pesquisa:focus {
    outline: thin dotted;
    outline: 0px;
}
.lupa {
    opacity: 50%;
}
/*------------------------------------------------------------------------------------- Barra de pesquisa  */

/*------------------------------------------------------------------------------------- Barra da direita */
.barra_direita {
    min-width: 150px;
    height: 1000px;
    background: linear-gradient(#ffc2c6, #fa65b7);
    color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 10px;
}
.instagram_contato {
    transform: translate(-2%, 0%)
}

.redes {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.redes > div {
    font-weight: 700;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes h4 {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #900020;
    font-size: 25px;
}

.whatsapp_contato {
    font-size: 16px;
}

.instagram_contato {
    font-size: 20px;
}

#icone_instagram {
    width: 40px;
}

#icone_wpp {
    margin-bottom: 5px;
}

#icone_mail {
    margin-bottom: 5px;
}

.email {
    font-size: 12px;
}

.link_instagram{
    text-decoration: none;
    color: white;
    transition-timing-function: linear;
    transition-duration: 0.1s;
}

.link_instagram:hover {
    font-size: 22px;
    color: #ce7885;
}
/*------------------------------------------------------------------------------------- Barra da direita */

/*------------------------------------------------------------------------------------- Corpo onde vai os produtos */
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-bottom: 20px;
}

.corpo {
    display:flex;
    justify-content: center;
}

.itens {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    width: 178px;
    height: 283px;
    box-shadow: 0px 0px 4px #ce7885;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffc2c6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    transition-timing-function: inherit;
    transition-duration: 0.5s;

    cursor: pointer;
}

.itens:hover {
    box-shadow: 0px 0px 16px #a8616c;
}

.botao_comprar {
    width: 113px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(#ce7885, #fa65b7);
    color: white;
    border-color: #8f545d;
    font-weight: 700;

    cursor: pointer;
}

.botao_comprar:focus {
    outline: thin dotted;
    outline: 0px;
}

.add_carrinho{
    width: 65px;
    height: 50px;
    border-radius: 10px;
    background: linear-gradient(#c8a2c8, #e066e0);
    color: white;
    border-color: #8d748d;

    cursor: pointer;
}

.add_carrinho:focus {
    outline: thin dotted;
    outline: 0px;
}

.buttons {
    display:flex;
    justify-content: space-between;
}
.imagem_produto {
    width: 178px;
    height: 155px;
    transition-timing-function: ease;
    transition-duration: 0.3s;
}

.imagem_produto:hover {
    width: 200px;
    height: 177px;
}

.preco {
    color: #900020;
    display: flex;
    justify-content: center;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.itens p {
    font-size: 16px;
    margin: 0px;
    width: 100%;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.item {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.item h1 {
    margin: 0px;
}


.item h1 img{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
/*------------------------------------------------------------------------------------- Corpo onde vai os produtos */

/*------------------------------------------------------------------------------------- Footer */
footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(rgba(0, 0, 0, 0.055), #ffffff);
    padding-bottom: 50px;
}

footer div a {
    text-decoration: none;
    transition-timing-function: linear;
    transition-duration: 0.1s;
}

footer div a:hover {
    color: lightblue;
}


footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*------------------------------------------------------------------------------------- Footer */

/*------------------------------------------------------------------------------------- Placeholder webkit  */
::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {  
    color: rgba(0, 0, 0, 0.5);  
}
/*------------------------------------------------------------------------------------- Placeholder webkit  */

.control-button {
    height: 10px;
}


@media screen and (max-width: 450px) {

    .subtopicos:hover {
        font-size: 11px;
    }
    .frete {
        font-size: 16px;
    }

    .preco {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
    }

    .corpo {
        display: flex;
        flex-direction: column;
    }

    .itens {
        width: 90px;
        height: 152px;
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .botao_comprar {
        width: 54px;
        height: 32px;
        font-size: 10px;
    }

    .add_carrinho{
        width: 35px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #carrinho {
        width: 20px;
    }
    .imagem_produto {
        width: 78px;
        height: 70px;
    }
    .imagem_produto:hover {
        width: 95px;
        height: 87px;
    }
    .barra_esquerda {
        min-width: 100px;
        height: 40px;
        font-size: 10px;
        background: linear-gradient(#ffc2c6, #fa65b7bb);
        color: white;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        order: 0;
    }
    
    .barra_direita {
        min-width: 100px;
        height: 100px;
        background: linear-gradient(#ffc2c6, #fa65b7);
        color: white;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        margin-top: 50px;
        padding-top: 0px;
    }

    .redes {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
    }
    
    .redes > div {
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px
    }
    
    .redes h4 {
        margin: 0px;
        color: #900020;
        font-size: 15px;
        align-self: center;
    }

    #icone_instagram {
        width: 30px;
    }
    
    #icone_wpp {
        margin-bottom: 0px;
    }

    .whatsapp_contato {
        font-size: 12px;
    }
    
    #icone_mail {
        margin-bottom: 0px;
    }
    
    .email {
        font-size: 12px;
    }
    
    .redes > div {
        display: flex;
        align-items: center;
    }
    
    .link_instagram{
        text-decoration: none;
        color: white;
        font-size: 15px;
        transition-timing-function: linear;
        transition-duration: 0.1s;
    }

    footer {
        margin: 0px;
        padding-bottom: 30px;
        font-size: 12px;
    }

    hr{
        opacity: 0;
    }
    .filtragem {
        margin-left: 5px;
        cursor: pointer !important;
    }

    .filtragem:focus {
        outline: thin dotted;
        outline: 0px;
    }
    
    .filtrar_preço {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .min_bloc {
        transform: translate(-5%, 0%)
    }

    .min {
        height: 8px;
        font-size: 10px;
        width: 25px;
    }

    .max {
        height: 8px;
        font-size: 10px;
        width: 25px;
    }
    
    .min:focus {
        outline: thin dotted;
        outline: 0px;
    }
    
    .max:focus {
        outline: thin dotted;
        outline: 0px;
    }

    .filtros {
        display:flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .calcular_frete {
        margin:0px;
    }
    .titulo {
        font-size: 50px;;
    }

    .subtopicos_total button {
        height: 30px;
        font-size: 10px;
    }

    
}
@media screen and (min-width:451px) and (max-width: 1024px) {
    .subtopicos:hover {
        font-size: 11px;
    }
    .frete {
        font-size: 16px;
    }
    .corpo {
        display: flex;
        flex-direction: column;
    }

    .itens {
        width: 140px;
        height: 184px;
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .botao_comprar {
        width: 95px;
        height: 42px;
        font-size: 13px;
    }

    .add_carrinho{
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #carrinho {
        width: 20px;
    }
    .imagem_produto {
        width: 78px;
        height: 70px;
    }
    .imagem_produto:hover {
        width: 95px;
        height: 87px;
    }
    .barra_esquerda {
        min-width: 100px;
        height: 40px;
        font-size: 10px;
        background: linear-gradient(#ffc2c6, #fa65b7bb);
        color: white;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        order: 0;
    }
    
    .barra_direita {
        min-width: 100px;
        height: 100px;
        background: linear-gradient(#ffc2c6, #fa65b7);
        color: white;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        margin-top: 50px;
        padding-top: 0px;
    }

    .redes {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
    }
    
    .redes > div {
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px
    }
    
    .redes h4 {
        margin: 0px;
        color: #900020;
        font-size: 15px;
        align-self: center;
    }

    #icone_instagram {
        width: 30px;
    }
    
    #icone_wpp {
        margin-bottom: 0px;
    }

    .whatsapp_contato {
        font-size: 12px;
    }
    
    #icone_mail {
        margin-bottom: 0px;
    }
    
    .email {
        font-size: 12px;
    }
    
    .redes > div {
        display: flex;
        align-items: center;
    }
    
    .link_instagram{
        text-decoration: none;
        color: white;
        font-size: 15px;
        transition-timing-function: linear;
        transition-duration: 0.1s;
    }
    footer {
        margin: 0px;
        padding-bottom: 30px;
        font-size: 12px;
    }

    hr{
        opacity: 0;
    }
    .filtragem {
        margin-left: 5px;
    }

    .filtragem:focus {
        outline: thin dotted;
        outline: 0px;
    }
    
    .filtrar_preço {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .min_bloc {
        transform: translate(-5%, 0%)
    }

    .min {
        height: 8px;
        font-size: 10px;
        width: 25px;
    }

    .max {
        height: 8px;
        font-size: 10px;
        width: 25px;
    }
    
    .min:focus {
        outline: thin dotted;
        outline: 0px;
    }
    
    .max:focus {
        outline: thin dotted;
        outline: 0px;
    }

    .filtros {
        display:flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        
    }

    .calcular_frete {
        margin:0px;
    }
    .titulo {
        font-size: 50px;;
    }

    .subtopicos_total button {
        height: 30px;
        font-size: 10px;
    }

    .preco {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 16px;
        margin: 0px;
    }
    
}