.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
}
.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

@media screen and (max-width: 450px) {
  .gallery .control-button {
    font-size: 1em;
  }
}

@media screen and (min-width:451px) and (max-width: 1024px) {
  .gallery .control-button {
    font-size: 1em;
  }
}